# Extract Data From Website

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\public\miniconda3\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\public\miniconda3\lib\site-packages (from beautifulsoup4) (2.0)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
req = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(req.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

df=pd.DataFrame(df[0])

In [4]:
df.head()

             0             1                 2
0  Postal code       Borough      Neighborhood
1          M1A  Not assigned               NaN
2          M2A  Not assigned               NaN
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

#### Making first row as Header

In [5]:
new_header = df.iloc[0] 
df = df[1:] 
df.columns = new_header

In [6]:
df.head()

0 Postal code           Borough                Neighborhood
1         M1A      Not assigned                         NaN
2         M2A      Not assigned                         NaN
3         M3A        North York                   Parkwoods
4         M4A        North York            Victoria Village
5         M5A  Downtown Toronto  Regent Park / Harbourfront

#### Removing Not Assigned Borough and replacing / with ,

In [7]:
df=df.loc[df['Borough'] != 'Not assigned']
df['Neighborhood'] = df['Neighborhood'].str.replace(' /',',')
df.head()

0 Postal code           Borough                                 Neighborhood
3         M3A        North York                                    Parkwoods
4         M4A        North York                             Victoria Village
5         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M6A        North York             Lawrence Manor, Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
df.loc[df['Neighborhood'] =='Not assigned' , 'Neighborhood'] = df['Borough']

#### Grouping by postal code

In [13]:
df2=df.groupby(['Postal code']).agg(','.join)

In [15]:
df3=df2.reset_index()
df3.head(5)

0 Postal code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [17]:
df3.shape

(103, 3)